<div class="book">
    <div class="book-content">

        <div class="book-cover" style="background-image: url('<%= book.coverImage %>');">
            <h4> <%= book.title %></h4>
            <p> <%= book.author %> </p>
        </div>

        <div class="book-back">
            <p> <%= book.summary %> </p>
        </div>
        
    </div>
</div>