<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>
    <% include ../../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                    <p style="margin: 0 auto">Server Side Rendered</p>
                </h1>
            </div>
        </div>
        <div class="container">
            <h1>Pokemon</h1>

            <ul class="list-group">
                <% pokemon.forEach(item => { %>
                    <li class="list-group-item" style="text-transform: capitalize;"> <%= item.name %> </li>
                <% }); %>
            </ul>

            <nav>
                <ul class="pager">
                    <li><a href="?<%= prevParams %>" class="btn" <% if(!prevParams) { %> disabled="disabled" <% }; %> >Previous</a></li>
                    <li><a href="?<%= nextParams %>" class="btn" <% if(!nextParams) { %> disabled="disabled" <% }; %> >Next</a></li>
                </ul>
            </nav>
        </div>
</body>

</html>