<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>
    <% include ../../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="well well-lg">
                <a href="/prove/09/frontend" type="button" class="btn btn-primary btn-lg btn-block">Frontend Solution</a>
                <a href="/prove/09/backend" type="button" class="btn btn-primary btn-lg btn-block">Backend Solution</a>
            </div>
        </div>
</body>

</html>