<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
</head>

<body>
  <% include ./partials/nav.ejs %>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">3D Printed Gifts</h1>
        <div class="row center">
          <h5 class="header col s12 light">We print and ship from a curated collection of 3D models.</h5>
        </div>
        <div class="row center">
          <a href="/project/01/shop" id="shop-button" class="btn-large waves-effect waves-light orange">Shop Now</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="carousel" id="home-carousel">
          <% products.forEach(product=> { %>
            <a class="carousel-item" href="/project/01/product/<%= product._id %>"><img src="/project/01/images/<%=product.image%>"></a>
            <% }) %>
        </div>
      </div>
    </div>

    <!-- <div class="container">
    <div class="section">
      <div class="carousel" id="home-carousel">
        <a class="carousel-item" href="#fox"><img src="/images/project01/600/fox.jpg"></a>
        <a class="carousel-item" href="#dog"><img src="/images/project01/600/dog.jpg"></a>
        <a class="carousel-item" href="#rabbit"><img src="/images/project01/600/rabbit.jpg"></a>
        <a class="carousel-item" href="#bulbasaur"><img src="/images/project01/600/bulbasaur.jpg"></a>
        <a class="carousel-item" href="#david"><img src="/images/project01/600/david.jpg"></a>
        <a class="carousel-item" href="#geko"><img src="/images/project01/600/geko.jpg"></a>
        <a class="carousel-item" href="#groot"><img src="/images/project01/600/groot.jpg"></a>
        <a class="carousel-item" href="#charmander"><img src="/images/project01/600/charmander.jpg"></a>
        <a class="carousel-item" href="#hamster"><img src="/images/project01/600/hamster.jpg"></a>
        <a class="carousel-item" href="#mask"><img src="/images/project01/600/mask.jpg"></a>
        <a class="carousel-item" href="#robot"><img src="/images/project01/600/robot.jpg"></a>
        <a class="carousel-item" href="#payson"><img src="/images/project01/600/payson.jpg"></a>
        <a class="carousel-item" href="#planter"><img src="/images/project01/600/planter.jpg"></a>
        <a class="carousel-item" href="#salt-lake"><img src="/images/project01/600/salt-lake.jpg"></a>
        <a class="carousel-item" href="#spine"><img src="/images/project01/600/spine.jpg"></a>
        <a class="carousel-item" href="#winter-quarters"><img src="/images/project01/600/winter-quarters.jpg"></a>
        <a class="carousel-item" href="#trex"><img src="/images/project01/600/trex.jpg"></a>
      </div>
    </div>
  </div> -->

    <% include ./partials/footer.ejs %>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var homeCarousel = document.querySelector('#home-carousel');
          setInterval(function () {
            M.Carousel.getInstance(homeCarousel).next()
          }, 2750)
        });
      </script>
</body>

</html>