<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>
    <% include ../../partials/nav.ejs %>
    <% include ./partials/project01nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">
            <h1>
                <%= title %>
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well">
                    <a type="button" href="/project/01/products"
                        class="btn btn-primary btn-lg btn-block">Products</a>
                    <br>
                    <a type="button" href="/project/01/cart" class="btn btn-primary btn-lg btn-block">Cart</a>
                    <br>
                    <a type="button" href="/project/01/orders" class="btn btn-primary btn-lg btn-block">Orders</a>
                    <br>
                    <a type="button" href="/project/01/admin" class="btn btn-primary btn-lg btn-block">Admin</a>
                </div>

            </div>
        </div>
    </div>

</body>

</html>