<!DOCTYPE html>
<html>

<head>
    <% include ../../../partials/header.ejs %>
</head>

<body>
    <% include ../../../partials/nav.ejs %>
        <% include ../partials/project01nav.ejs %>

            <div class="jumbotron text-center">
                <div class="container">
                    <h1>
                        <%= title %>
                    </h1>
                </div>
            </div>

            <div class="container">

                <% if (products.length > 0) { %>
                    <ul>
                        <% products.forEach(p => { %>
                            <li>
                                <p>
                                    <%= p.productId.title %> (<%= p.quantity %>)
                                </p>
                                <form action="/project/01/cart/delete-item" method="POST">
                                    <input type="hidden" value="<%= p.productId.id %>" name="productId">
                                    <button class="btn" type="submit">Remove</button>
                                </form>
                            </li>
                            <% }) %>
                    </ul>
                    <% } else { %>
                        <h1>No Products in Cart!</h1>
                        <% } %>

            </div>

</body>

</html>