<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Project 1 — E-Commerce Application </h5>
                <ul>
                    <li><a class="white-text" href="/project/01/this-page-does-not-exist">404 Error</a></li>
                    <li><a class="white-text" href="/project/01/error/500">500 Error</a></li>
                </ul>

            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Team</h5>
                <ul>
                    <li><a class="white-text" href="/team/01">Team Activity 01</a></li>
                    <li><a class="white-text" href="/team/02">Team Activity 02</a></li>
                    <li><a class="white-text" href="/team/03">Team Activity 03</a></li>
                    <li><a class="white-text" href="/team/04">Team Activity 04</a></li>
                    <li><a class="white-text" href="/team/05">Team Activity 05</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Prove</h5>
                <ul>
                    <li><a class="white-text" href="/prove/01">Prove 01</a></li>
                    <li><a class="white-text" href="/prove/02">Prove 02</a></li>
                    <li><a class="white-text" href="/prove/08">Prove 08</a></li>
                    <li><a class="white-text" href="/prove/09">Prove 09</a></li>
                    <li><a class="white-text" href="/prove/10">Prove 10</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Projects</h5>
                <ul>
                    <li><a class="white-text" href="/project/01">Project 01</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
    });
</script>