<nav class="navbar navbar-default" style="margin-top: -20px;">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/project/01">Project 01</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="<%= path === '/project/01/products' ? 'active' : ''%>">
                <a href="/project/01/products">Products</a>
            </li>
            <!-- <li class="<%= path === '/project/01/cart' ? 'active' : ''%>">
                <a href="/project/01/cart">Cart</a>
            </li> -->
            <li class="<%= path === '/project/01/admin' ? 'active' : ''%>">
                <a href="/project/01/admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>