<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

        <div class="row valign-wrapper" style="margin: auto 0; justify-content: center;">
            <div class="card col s12 m10 l6 xl4" style="margin: 1em;">

                <form action="/project/01/new-password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="resetToken" value="<%= resetToken %>">

                    <div class="card-content" style="padding-bottom: 0;">
                        <h4 class="orange-text" style="margin-top: 0;">
                            <%= title %>
                        </h4>
                        <% include ../partials/flash-errors.ejs %>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" name="password">
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="confirmPassword" type="password" name="confirmPassword">
                                    <label for="confirmPassword">Confirm Password</label>
                                </div>
                            </div>
                    </div>

                    <div class="card-action">
                        <button class="btn cyan" type="submit">Update Password</button>
                    </div>
                </form>

            </div>
        </div>

        <% include ../partials/footer.ejs %>
            <script>
            </script>
</body>

</html>