<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

        <div class="container">
            <h2 class="orange-text"><%= title %></h2>
            <div class="divider"></div>

        </div>

        <% include ../partials/footer.ejs %>
            <script>
            </script>
</body>

</html>